<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Framework: Silent Auction</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="https://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/img/fw-favicon.png">
  <link href="css/style.css" rel="stylesheet">
  <script src="https://use.typekit.net/mly7wqm.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body class="background">
  <header class="center">
    <div class="top-line"></div>
      <a href="http://2016.grads.algonquindesign.ca/" class="logo">
        <img class="sa-logo" src="img/fw-logo.svg" alt="logo link home">
      </a>
    <div class="bottom-line"></div>
  </header>

  <main>

 {{content}}

<!--
    <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
-->

  </main>

  <footer>

    <div class="top-line"></div>
      <a href="http://2016.grads.algonquindesign.ca/" class="logo-footer">
        <img class="sa-logo" src="img/fw-logo.svg" alt="logo link home">
      </a>
      <p class="white">Special thanks to all of our supporters and sponsors who helped make this silent auction possible!</p>
      <p class="grey">For questions about the silent auction or the Grad Show feel free to contact us at <a class="email white" href="mailto:students@algonquindesign.ca">students@algonquindesign.ca</a></p>
      <p class="grey">© Framework 2016</p>
    <div class="bottom-line"></div>
  </footer>

<script src="js/index.js"></script>

</body>
</html>
