<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Silent Auction</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="/img/fw-favicon.png">
  <link href="css/style.css" rel="stylesheet">
</head>
<body class="background">
  <header class="center">
    <div class="top-line"></div>
      <a href="#home" class="logo">
        <img class="sa-logo" src="img/fw-logo.svg" alt="logo link home">
      </a>
    <div class="bottom-line"></div>
  </header>

  <main>

 {{content}}

<!--
    <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
-->

  </main>

<script src="js/index.js"></script>

</body>
</html>
