<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Silent Auction</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" href="/img/fw-favicon.png">
  <link href="css/style.css" rel="stylesheet">
</head>
<body class="background">
  <header class="center">
    <div class="top-line"></div>
      <a href="#home" class="logo">
        <img src="img/fw-logo.svg" alt="logo link home">
      </a>
    <div class="bottom-line"></div>
  <h1 class="white title">SILENT AUCTION</h1>
  </header>

  <main>

<!--Codepen link http://codepen.io/SitePoint/pen/MwNPVq/ -->
<!--Codepen tutorial explanation http://www.sitepoint.com/build-javascript-countdown-timer-no-dependencies/ -->

<div class="grid">
  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 unit-xl-1 center">

    <div class="clock-width">
      <p class="clock-title">Time Remaining</p>
      <div id="clockdiv">
        <div class="inline">
          <span class="days clock-number"></span>
          <p class="smalltext">Days</p>
        </div>
        <div class="inline">
          <span class="hours clock-number"></span>
          <p class="smalltext">Hours</p>
        </div>
        <div class="inline">
          <span class="minutes clock-number"></span>
          <p class="smalltext">Minutes</p>
        </div>
        <div class="inline">
          <span class="seconds clock-number"></span>
          <p class="smalltext">Seconds</p>
        </div>
      </div><!--/clockdiv-->
    </div><!--/clock-width-->

  </div><!--/unit-->
</div><!--/grid-->

 {{content}}

<!--
    <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
-->

  </main>

<script src="js/index.js"></script>

</body>
</html>
